#============= fingerprintd ==============
allow fingerprintd firmware_file:file { read getattr open };
allow fingerprintd sysfs:file write;
allow fingerprintd system_data_file:dir { write remove_name add_name };
allow fingerprintd system_data_file:sock_file { create unlink };
allow fingerprintd tee_device:chr_file { read write ioctl open };

#============= init ==============
allow init debugfs:dir mounton;
allow init property_socket:sock_file write;
allow init qmuxd:unix_stream_socket connectto;
allow init qmuxd_socket:sock_file write;
allow init sysfs:lnk_file setattr;
allow init system_file:file execute_no_trans;

#============= mm-qcamerad ==============
allow mm-qcamerad system_file:file execmod;

#============= nfc ==============
allow nfc device:chr_file { read write ioctl open };

#============= qti_init_shell ==============
allow qti_init_shell device:chr_file { getattr setattr };
allow qti_init_shell su_exec:file { read getattr open execute execute_no_trans };
allow qti_init_shell sudaemon:unix_stream_socket connectto;
allow qti_init_shell superuser_device:sock_file write;

#============= tee ==============
allow tee proc:file write;

#============= untrusted_app ==============
allow untrusted_app mnt_media_rw_file:dir getattr;
allow untrusted_app self:udp_socket ioctl;

