on post-fs-data
# Create folder for secure account
    restorecon /data/secure
    restorecon /data/secure_storage

service encfs-data-mount /system/bin/vdc --wait volume mount-encfs data
    class core
    user root
    group root
    disabled
    oneshot

service encfs-sd-mount /system/bin/vdc --wait volume mount-encfs media
    class core
    user root
    group root
    disabled
    oneshot

service encfs-data-um /system/bin/vdc --wait volume unmount-encfs data
    class core
    user root
    group root
    disabled
    oneshot

service encfs-sd-um /system/bin/vdc --wait volume unmount-encfs media
    class core
    user root
    group root
    disabled
    oneshot

service encfs-clean /system/bin/vdc --wait volume clean-encfs
    class core
    user root
    group root
    disabled
    oneshot

service encfs-prep /system/bin/vdc --wait volume mount-encfs all
    class core
    user root
    group root
    disabled
    oneshot

on property:service.encfs-data=prepare
    start encfs-prep

on property:service.encfs-data=ready
    trigger nonencrypted

